body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 0;
padding: 0;
}

.top-section, .footer {
    background-color: #1f2937;

}

.footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.top-section {
    padding-left: 200px;
    padding-right: 200px
}

.signupbutton1 {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 24px;
    border: none;       
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer; 
}

.main-content {
    display: flex;
    gap: 150px;
    padding-top: 50px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    max-width: 400px;
    gap: 10px;
}

.left-content p {
    margin: 0;
}

.left-content h1 {
    margin: 0;
}

.left-content button {
    margin: 0;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.right-links {
    display: flex;
    gap: 15px;
}

.header-text-1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}



.box-image {
  border: 3px solid #3882f6;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 8px;

  width: 150px;  
  height: 150px;
  padding: 0;
}


#sidekick-text-1, .right-links {
    font-size: 18px;
    color: #e5e7eb;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    align-items: flex-start;
}
.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.left-action-box h3 {
    color: #F9FAF8;
}

.left-action-box p {
    color: #e5e7eb;
}

.signupbutton2 {

      background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 24px; 
    border: none;      
    border: 2px solid #F9FAF8; 
    border-radius: 8px;
    font-weight: bold;
    margin-right: 80px;
    cursor: pointer;

}
.quotation {
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    width: 900px;
}

ul {
    list-style: none;
}

.call-to-action-box, .signupbutton1, .signupbutton2 {
    background-color: #3882f6;
}

.quote-author {
    width: 800px;
    font-weight: bold;
    text-align: right;
}

.call-to-action {
    display: flex;
    justify-content: center; 
    padding: 60px 0;        
}

.call-to-action-box {
    background-color: #3882f6;
    color: #F9FAF8;

    max-width: 800px;   
    width: 100%;
    padding: 30px 40px; 
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
